@media only screen and (min-width: 2800px) {
    .hero-slide-shape {
        max-width: 48.5%;
        width: 100%;
    }

    .hero-slide-shape::after {
        width: 60%;
    }
}

@media (min-width: 320px) and (max-width: 1500px) {}

@media (min-width: 320px) and (max-width: 1500px) {}