/* Base CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
:root {
    --primary: #E87722;
    --alert: #EFBF00;
    --blue: #1a2f50;
    --blue-light: #009AC3;
    --blue-green-light: #00C1CD;
    --white: #ffffff;
    --black: #000000;
    --raleway: 'Raleway', sans-serif;
    --roboto-slab: 'Roboto Slab', sans-serif;
    --inter: 'Inter', sans-serif;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px; 
    font-family: 'Roboto Slab', serif;
}

body {
    color: var(--blue);
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
 

.selector-for-some-widget {
    box-sizing: content-box;
}

a:hover {
    text-decoration: none
} 

/*---------------------- Header area start ----------------------*/
.header {
    background: #fff;
    margin-bottom: 0 !important;
}
.header-top {

}

.header-top__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top__message {
    font-size: 17px;
    margin-left: 70px;
    padding: 3px 60px;
    min-height: 38px;
    letter-spacing: 0.4px;
    font-weight: 700;
    background: var(--blue-light);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header-top__message a {
    color: inherit;
    transition: 0.3s;
}
.header-top__message a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.header-main .container-fluid {
    padding: 0 43px 0 33px;
}
.header-top__menu {
    position: absolute;
    top: 9px;
    right: 0;
    display: flex;
    margin-right: 148px;
}
.header-top__languages {
    display: flex;
    gap: 6px;
    padding-right: 17px;
    margin-right: 16px;
    position: relative;
}
.header-top__languages::after {
    content: '';
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 2px;
    background: var(--blue);
}
.header-top__language {
    font-size: 17px;
    color: var(--blue);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.header-top__language:hover {
    color: var(--primary);
}

.ht__a:last-child::after {
    display: none;
}
.ht__a:hover {
    color: var(--primary);
}
.header-top__search {
    font-size: 20px;
    color: var(--blue);
    border: none;
    padding: 0;
    background: transparent;
    transition: 0.3s;
}
.header-top__search:hover {
    color: var(--primary);
}


.header-main {
    padding: 31px 0 27px;
}
.header-main__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
	gap: 37px;
	margin-top: -50px;
	display: inline-flex;
	align-items: center;
}
.header-logo__image {
    width: 99px;
    flex-shrink: 0;
}
.header-logo__image img {

}
.header-logo__text {
    font-size: 14px;
    line-height: 1.7;
    font-weight: 600;
    font-family: var(--roboto-slab);
}

.header-nav {
    padding-top: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.header-nav > ul {
    display: flex;
    gap: 58px;
}
.header-nav > ul > li {
    padding: 0;
    list-style: none;
}
.header-nav > ul > li > a {
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: 0.8px;
    font-weight: 800;
    color: var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}
.header-nav > ul > li > a:hover {
    
}
.header-nav > ul > li > a.active {
    
}
.header-nav > ul > li > a::after {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    position: absolute;
    z-index: 1;
    background: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: 50% 50%;
    transition: 0.3s;
}
.header-nav > ul > li > a:hover::after,
.header-nav > ul > li > a.active::after {
    transform: scaleX(1);
}

/*---------------------- Header area end ----------------------*/


/* ---btn--- */
.btn {
    padding: 5px 53px;
    font-size: 18px;
    min-height: 64px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--primary);
    border: 1px solid transparent;
    transition: 0.3s;
    box-shadow: none !important;
    outline: none !important;
}
.btn:hover {
    background: #ff770e;
    border-color: transparent;
}
/* ---btn---end */


/*----------------------  footer start ----------------------*/
.footer {
    padding: 115px 0;
    background: var(--blue);
    color: #fff;
    position: relative;
    z-index: 1;
}
.go-top-button {
    margin-top: -48px;
    font-size: 23px;
    padding-top: 33px;
    width: 113px;
    height: 113px;
    position: absolute;
    top: 0;
    right: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: var(--blue);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-family: var(--inter);
    text-align: center;
    transition: 0.3s;
}
.go-top-button:hover {
    color: var(--primary);
}
.go-top-button i {
    
}
.go-top-button .txt {
    margin-top: 31px;
    font-size: 13px;
}
.footer__inner {

}
.footer-top__outer {

}
.footer-top {

}
.footer__logo-column {

}
.footer-logo {
    width: 107px;
    margin-bottom: 53px;
    display: block;
}
.footer-logo img {

}
.footer__contact-menu {

}
.footer__contact-menu h4 {
    font-size: 14.1px;
    margin-bottom: 8px;
    font-family: var(--raleway);
    font-weight: 700;
}
.footer__contact-menu ul {
    padding: 0;
}
.footer__contact-menu ul li {
    list-style: none;
    padding: 0;
}
.footer__contact-menu ul li a {
    font-size: 14.1px;
    line-height: 2.2;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    position: relative;
    z-index: 1;
}
.footer__contact-menu ul li a:hover {
    color: var(--primary);
}

.footer-menu {

}
.footer-menu h4 {
    font-size: 15px;
    margin-bottom: 8px;
    letter-spacing: 0.3px;
    color: #526e9d;
    font-family: var(--raleway);
    font-weight: 700;
}
.footer-menu ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.footer-menu ul li {
    padding: 0;
    list-style: none;
}
.footer-menu ul li a {
    font-size: 14.1px;
    transition: 0.3s;
    position: relative;
    z-index: 1;
    color: #fff;
}
.footer-menu ul li a:hover {
    color: var(--primary);
    text-decoration: underline;
}  

.footer-mail {
    margin-bottom: 47px;
}
.footer-mail h4 {
    font-size: 16.5px;
    margin-bottom: 31px;
    letter-spacing: 0.5px;
    font-family: var(--raleway);
    text-transform: uppercase;
}
.footer-mail__box {
    display: flex;
}
.footer-mail__box .input-outer {
    flex-grow: 1;
    width: 0;
}
.footer-mail__box .input {
    padding: 10px 26px;
    min-height: 62px;
    width: 100%;
    border: 1px solid transparent;
    background: #2B426B;
    color: #fff;
    font-weight: 700;
    box-shadow: none !important;
    outline: none !important;
}
.footer-mail__box .input::placeholder {
    opacity: 1;
}
.footer-mail__box .submit {
    padding: 10px 42px;
    border: 1px solid transparent;
    width: initial;
    background: var(--primary);
}

.footer-map {
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer-map__map {
    width: 210px;
    height: 160px;
}
.footer-map__map img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.footer-map h4 {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 1.8;
    font-family: var(--raleway);
}
.footer-map h4 a {
    color: #fff;
    transition: 0.3s;
}
.footer-map h4 a:hover {
    color: var(--primary);
    text-decoration: underline;
}



.footer-bottom__outer {
    margin-top: 128px;
    padding: 8px 0;
    background: #132138;
}
.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom p {
    font-size: 12px;
    color: #526e9d;
    font-weight: 500;
    text-transform: uppercase;
}
.copy-right {
    font-weight: 500;
    font-size: 13px !important;
    letter-spacing: 0.7px;
}
.social-menu {

}
.social-menu ul {
    padding: 0;
    display: flex;
    gap: 17px;
    margin: 0;
}
.social-menu ul li {
    padding: 0;
    list-style: none;
}
.social-menu ul li a {
    height: 57px;
    width: 57px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #20375E;
    transition: 0.3s;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.social-menu ul li a:hover {
    background: var(--primary);
}
/*----------------------  footer end ----------------------*/


/*----------------------  cta-area start ----------------------*/
.cta-area {
    padding: 100px 0;
    background: url('../img/bg/cta-bg.png') no-repeat center center/cover;
    color: #fff;
}
.h-0 {
    height: 0 !important;
}
.cta-area__inner {
    padding: 0 14.63%;
}
.cta-card__row {
    --bs-gutter-x: 46px;
    margin-top: -168px !important;
}
.cta-card {
    padding: 72px 30px;
    box-shadow: 0 0 30px #00000018;
    background: #fff;
    color: var(--blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.cta-card h4 {
    font-size: 27px;
    margin-bottom: 9px;
    letter-spacing: 0.1px;
    line-height: 1.35;
    font-family: var(--raleway);
    font-weight: 700;
}
.cta-card .go-ellipse-button {
    height: 92px;
    width: 92px;
    font-size: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--alert);
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
.cta-card .go-ellipse-button:hover {
    background: var(--primary);
}
.cta-content {
    margin-top: 80px;
    text-align: center;
}
.cta-content h3 {
    margin-bottom: 50px;
    font-size: 34px;
    font-family: var(--raleway);
    font-weight: 700;
}   
.cta-content h4 {
    font-weight: 400;
    line-height: 1.7;
}
.cta-content h4 a {
    color: inherit;
    transition: 0.3s;
}
.cta-content h4 a:hover {
    color: var(--primary);
    text-decoration: underline;
}
/*----------------------  cta-area end ----------------------*/


/*----------------------  about-hero start ----------------------*/
.about-hero {
    background: url('../img/about/about-hero-bg.png') no-repeat center center/cover;
    position: relative;
    z-index: 10;
}
.about-hero-content {
    min-height: 722px;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-hero-content h4 {
    margin-bottom: 27px;
    font-size: 18.7px;
    letter-spacing: 0.4px;
    font-weight: 400;
}
.about-hero-content .orange-bar {
    margin-bottom: 23px;
}
.orange-bar {
    width: 110px;
    display: inline-block;
    height: 7px;
    background: var(--primary);
}
.about-hero-content h2 {
    line-height: 1.8;
    letter-spacing: 0.4px;
    font-size: 28px;
    font-family: var(--raleway);
}
.about-hero-more-button {
    font-size: 20px;
    padding-top: 30px;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    letter-spacing: 0.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,50%);
    text-decoration: none;
    color: #1b2e4f;
    font-weight: 700;
    transition: 0.3s;
}
.about-hero-more-button:hover {
    color: #32BCA5;
}
.about-hero-more-button i {
    font-size: 30px;
    margin-top: 10px;
    color: #32BCA5;
}


/*----------------------  about-hero end ----------------------*/


/*----------------------  about-pai start ----------------------*/
.about-pai-area {
    padding: 95px 0;
}
.about-pai-area__inner {

}
.about-pai {
    padding: 0 10.8%;
}
.about-pai .pai-img {

}
/*----------------------  about-pai end ----------------------*/


/* ---common--- */
.cont-blk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cont-blk--center {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.sec-title {
    margin-bottom: 34px;
}
.sec-title .orange-bar {
    margin-bottom: 26px;
}
.h2 {
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    font-family: var(--raleway);
}
.celebrate-area__title .p {
    font-size: 17.8px;
    line-height: 2.3;
    font-family: var(--roboto-slab);
    font-weight: 400;
}
/* ---common---end */


/*----------------------  celebrate area start ----------------------*/
.celebrate-area {
    padding: 95px 0;
}
.celebrate-area__title {
    
}
.celebrate-area__title p {
    padding: 0 12%;
}

.celebrate__row__outer {
    padding: 0 4.8%;
}
.celebrate__row {
    --bs-gutter-x: 56px;
    --bs-butter-y: var(var(--bs-butter-x))
}
.celebrate-column {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.celebrate-column__image {

}
.celebrate-column__image .img {

}
.celebrate-column__text {
    padding: 36px 30px 0;
}
.celebrate-column__text h4 {
    font-size: 26px;
    font-weight: 600;
    font-family: var(--raleway);
}
.celebrate-column__text p {
    font-family: var(--roboto-slab);
    font-size: 17.8px;
    line-height: 2.3;
    font-family: var(--roboto-slab);
    font-weight: 400;
}
.celebrate-column__text .link-text {

}
.link-text {
    font-size: 21px;
    font-weight: 600;
    color: #009fa9;
    font-style: italic;
}


/*----------------------  celebrate area end ----------------------*/



/*----------------------  area start ----------------------*/
 
/*----------------------  area end ----------------------*/